<html>

<head>

	<title>Castle demos - {{location}}</title>

	<script src="https://d2t77mnxyo7adj.cloudfront.net/v1/c.js?{{castle_app_id}}"></script>

	<link rel="icon" type="image/x-icon" href="https://castle.io/favicon-32x32.png"/>

	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css" rel="stylesheet">

	<script type="text/javascript">

		function start() {

			$("#first_step_action").hide()

			var demo_name = "{{demo_name}}"

			if (demo_name == "review_suspicious_activity") {

				var data = {
					"client_id": _castle('getClientId')
				}

				$.ajax({
					url: '/get_device_token',
					dataType: 'json',
					type: 'post',
					contentType: 'application/json',
					data: JSON.stringify(data),
					processData: false,
					success: function( data, textStatus, jQxhr ){
						$("#results_table_div").show()

						console.log(data)

						var rows = ""

						rows += get_table_row("api endpoint", "/" + data.api_endpoint)
						rows += get_table_row("device token", data.device_token)
						rows += get_table_row("payload to castle", data.payload_to_castle, true)
						rows += get_table_row("verdict", data.verdict, true)

						$("#this_step_desc").html("Got a device token!")

						$("#results_table").html(rows)

						$("#next_step").html('Next step: <br><p><button onclick="evaluate_device_token()">get device info</button></p>')

						localStorage.setItem('device_token', data.device_token)
					},
					error: function( jqXhr, textStatus, errorThrown ){
						console.log( errorThrown )
					}
				})
			}

			else if (demo_name == "login_failed_password_invalid"
				 || "login_failed_username_invalid"
				 || "login_succeeded"
				 || "password_reset_succeeded") {

				var email = $("#email").val()

				var client_id = _castle('getClientId')

				var user_data = {
					email: email,
					client_id: client_id,
					demo_name: demo_name
				}

				if ($("#password").val()) {
					user_data.password = $("#password").val()
				}

				console.log("the castle client id is: " + client_id)

				$.ajax({
					url: '/evaluate_form_vals',
					dataType: 'json',
					type: 'post',
					contentType: 'application/json',
					data: JSON.stringify(user_data),
					processData: false,
					success: function( data, textStatus, jQxhr ){
						$("#login_form").hide()

						$("#results_table_div").show()

						var rows = ""

						rows += get_table_row("api endpoint", "/" + data.api_endpoint)
						rows += get_table_row("payload to castle", data.payload_to_castle, true)

						var this_step_desc = ""

						if (demo_name == "login_failed_password_invalid" 
							|| demo_name == "login_failed_username_invalid"
							|| demo_name == "password_reset_succeeded") {
							this_step_desc = "Successfully tracked an event: {{friendly_name}}"
						}
						else {
							this_step_desc = "Retrieved a recommendation from Castle on the next step in the authentication process."
							rows += get_table_row("response from castle", data.result, true)
						}

						$("#this_step_desc").html(this_step_desc)

						$("#results_table").html(rows)

						$("#next_step").html('')
					},
					error: function( jqXhr, textStatus, errorThrown ){
						console.log( errorThrown )
					}
				})
			}
		}

	</script>

	<script type="text/javascript">

		function get_table_row(label, data, is_json = false) {

			var row = '<tr>'

			row += '<td style="font-weight: bold">' + label + '</td>'

			row += '<td style = "padding-left: 5">'

			if (is_json) {
				row += '<pre>' + JSON.stringify(data, null, 1) + '</pre>'
			}
			else {
				row += data
			}

			row += '</td></tr>'

			return row
		}

		function evaluate_device_token() {

			var data = {
				"device_token": localStorage.getItem('device_token')
			}

			$.ajax({
				url: '/get_device_info',
				dataType: 'json',
				type: 'post',
				contentType: 'application/json',
				data: JSON.stringify(data),
				processData: false,
				success: function( data, textStatus, jQxhr ){

					console.dir(data)

					var rows = ""

					rows += get_table_row("api endpoint", "/" + data.api_endpoint)
					rows += get_table_row("payload to castle", localStorage.getItem('device_token'))
					rows += get_table_row("device info", data.device_info, true)

					var next_step = "Next step: user makes a decision about the device:"
					next_step += "<p><button onclick=\"update_device('approve')\">Yes, this was me</button></p>"
					next_step += "<p><button onclick=\"update_device('report')\">No, it wasn't me</button></p>"

					$("#this_step_desc").html("Got data about the device.")

					$("#results_table").html(rows)

					$("#next_step").html(next_step)
				},
				error: function( jqXhr, textStatus, errorThrown ){
					console.log( errorThrown )
				}
			})
		}

		function update_device(user_verdict) {

			var data = {
				"device_token": localStorage.getItem('device_token'),
				"user_verdict": user_verdict
			}

			$.ajax({
				url: '/update_device',
				dataType: 'json',
				type: 'post',
				contentType: 'application/json',
				data: JSON.stringify(data),
				processData: false,
				success: function( data, textStatus, jQxhr ){

					console.dir(data)

					var this_step_desc = ""

					if (data.message == "approve") {
						this_step_desc = "Thanks! You're all set!"
					}
					else {
						this_step_desc = "<p>The user has confirmed a suspicious login, so a this point you should lock their account on the back end and let them know:"
						this_step_desc += "<p>Thank you for letting us know.</p>"
						this_step_desc += "<p style = 'color: red'>We have locked your account.</p>"
						this_step_desc += "<p>Please check your email for a link to reset your password and unlock your account.</p>"
					}
					$("#this_step_desc").html(this_step_desc)
					$("#results_table").html("")
					$("#next_step").html("")
				},
				error: function( jqXhr, textStatus, errorThrown ){
					console.log( errorThrown )
				}
			})
		}
	</script>
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	  <a class="navbar-brand" href="/">Castle</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demos</a>
			<div class="dropdown-menu" aria-labelledby="dropdown01">

  				{% for demo in demo_list %}
				<a class="dropdown-item" href="/{{demo['url']}}">{{demo['friendly_name']}}</a>
				{% endfor %}

			</div>
		  </li>
		</ul>
	  </div>
	</nav>

	<main role="main" class="container">

		<div id = "ui">

			{% if error %}
				<p class="lead">Sorry, but we could not load that URL.</p>
			{% else %}

				{% if home %}
					<p class="lead">Welcome to Castle demos!</p>
					<p class="lead">Please choose a demo from the navbar drop-down.</p>
				{% else %}

					<p class="lead">demo: <a href = "/{{demo_name}}">{{friendly_name}}</a></p>

					<div id = "this_step_desc">{{first_step_desc}}</div>

					{% if show_login_form %}
					<br>
					<div id = "login_form">
						<p>email: <input type = "text" size = 40 id = "email" value = "{{username}}"></p>
						<p>
						{% if new_password %}
						new 
						{% endif %}
						password: <input type = "password" size = 40 id = "password"></p>
					</div>
					{% endif %}

					<div id = "first_step_action"><br><p><button onclick='start()'>{{first_step_action}}</button></p></span></div>

					<br>

					<div id = "results_table_div" style = "display: none">
						<table border = 1 id = "results_table">
						</table>
					</div>

					<br>

					<div id = "next_step"><span id="next_step_desc"></span></div>
				{% endif %}
			{% endif %}

		</div>
	</main><!-- /.container -->

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

</html>
