{% extends 'demo.html' %}

{% block desc %}

<p>The <b>Lists</b> API (added in castle 7.0) lets you manage allow/block lists in your Castle tenant programmatically.</p>

<p>This demo creates a list and then fetches all lists in your tenant. Creating a list requires a <code>name</code>, a <code>color</code> and a <code>primary_field</code>.</p>

<p>A valid Castle API secret is required for this call to succeed.</p>

{% endblock %}

{% block ui %}

	<div id = "lists_form">
		<table border = 0>
			<tr>
				<td style = "text-align: right; padding-bottom: 10px">name:</td>
				<td style = "padding-bottom: 10px"><input type = "text" size = 30 id = "name" value = "demo-blocklist"></td>
			</tr>
			<tr>
				<td style = "text-align: right; padding-bottom: 10px">color:</td>
				<td style = "padding-bottom: 10px"><input type = "text" size = 30 id = "color" value = "$red"></td>
			</tr>
			<tr>
				<td style = "text-align: right">primary field:</td>
				<td><input type = "text" size = 30 id = "primary_field" value = "user.email"></td>
			</tr>
		</table>
		<br>
		<p><button onclick='create_list()'>create list</button></p>
	</div>

{% endblock %}

{% block javascript %}

	<script type="text/javascript">

		function create_list() {

			var data = {
				name: $("#name").val(),
				color: $("#color").val(),
				primary_field: $("#primary_field").val()
			}

			$.ajax({
				url: '/create_list',
				dataType: 'json',
				type: 'post',
				contentType: 'application/json',
				data: JSON.stringify(data),
				processData: false,
				success: function(data, textStatus, jQxhr){

					console.dir(data)

					var rows = ""

					rows += get_table_row("api endpoint", "/" + data.api_endpoint)
					rows += get_table_row("payload to castle", data.payload_to_castle, true)
					rows += get_table_row("result", data.result, true)

					$("#results_table_div").show()
					$("#results_table").html(rows)
				},
				error: function( jqXhr, textStatus, errorThrown ){
					console.log( errorThrown )
				}
			})
		}

	</script>

{% endblock %}
